<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--
        如果是 http（非 https），要加 android:usesCleartextTraffic="true"
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCPatrol"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".logic.activity.SubmitActivity"
            android:exported="false" />
        <activity
            android:name=".logic.activity.PointsActivity"
            android:exported="false" />
        <activity
            android:name=".logic.activity.NFCScanActivity"
            android:exported="false"
            android:hardwareAccelerated="false">

            <!--
                操作系统级别的通知，也就是os发现tag的nfc之后就会立即扫描所有带有TAG_DISCOVERED的activity然后形成一个列表让用户选择用哪个最终识别nfc
                目前我们是只需要自己的activity识别nfc,那就需要屏蔽这里操作系统级别的配置，使用基于前台调度（Foreground Dispatch） 机制
            -->
            <!-- 处理"发现NFC标签"这个动作 -->
            <!--
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <!--
            Intent要启动该Activity，必须满足：
            Action匹配：Intent必须包含过滤器中的至少一个action
            Category匹配：Intent中的每个category都必须在过滤器中存在（DEFAULT是特殊情况）
            Data匹配：如果过滤器定义了data，也要匹配（你的例子中没有data）
            -->
        </activity>
        <activity
            android:name=".logic.activity.MainActivity"
            android:exported="true">
            <intent-filter>

                <!-- 应用入口 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 在启动器中显示 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>